* {
    margin: 0;
    padding: 0;
}

header {
    width: 1263px;
    height: 80px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    background-color: #fff;
    z-index: 999;
}

.w {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.nowidth {
    width: 1263px;
}

.logo {
    height: 60px;
    width: 133px;
    background: url('../image/logo.png') no-repeat;
    margin-top: 20px;
    float: left;
}

.city {
    display: none;
}

.filmnav {
    width: 1263px;
    height: 60px;
    background-color: rgb(70, 66, 66);
}

.filmnav ul {
    width: 432px;
    margin: 0 auto;
    height: 60px;
}

.filmnav ul li {
    display: block;
    float: left;
    list-style: none;
}

.filmnav ul li a {
    padding: 0 40px;
    line-height: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    color: #999;
}

.filmnav ul li a:hover {
    color: #fff;
}

.filmnav ul li .active {
    color: #f34d41;
}

.filmnav ul li .active:hover {
    color: #f34d41;
}

.choose {
    width: 1120px;
    margin: 0 auto;
    margin-top: 40px;
}

.typeul {
    border: 1px solid #ddd;
    display: block;
    height: 224px;
}

.type {
    width: 1078px;
    margin: 0 auto;
    display: block;
    height: 24%;
    padding: 10px 0;
}

.type:nth-child(2) {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.tip {
    padding-top: 3px;
    color: rgb(190, 188, 188);
    font-size: 14px;
    display: block;
    float: left;
}

.tags {
    width: 1038px;
    margin-left: 40px;
    height: 53px;
}

.tags li {
    display: block;
    float: left;
    padding: 3px 9px 3px 9px;
    margin-left: 12px;
}

.tags li a {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 14px;
}

.tags li a:hover {
    color: #f34d41;
}

.tags .active a {
    color: #fff;
}

.tags .active {
    background-color: #f34d41;
    border-radius: 20px;
}

.tags .active a:hover {
    color: #fff;
}

.filmtype {
    margin-bottom: 20px;
}

.check {
    width: 100px;
    display: inline-block;
    margin-right: 30px;
}

.check input {
    display: none;
    position: relative;
}

.check label {
    margin-left: 25px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    line-height: 30px;
    font-size: 14px;
}

.check label:after {
    content: "";
    /*必须设置*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #f34d41;
    position: absolute;
    top: 10px;
    left: -24px;
    border-radius: 20px;
}

.check input:checked+label:after {
    background-color: #f34d41;
}

.film {
    margin-bottom: 30px;
}

.filmbox {
    width: 160px;
    /* height: 425px; */
    /* background-color: #f34d41; */
    display: inline-block;
    margin-right: 27px;
}

.box6 {
    margin-right: -27px;
}

.filmname {
    width: 160px;
    margin-top: 10px;
}

.filmname a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: #000;
}

.filmscore {
    margin-top: 10px;
    text-align: center;
    color: #ffb400;
}

.firstscore {
    font-size: 18px;
}

.pageturn ul {
    width: 450px;
    margin: 0 auto;
}

.pageturn ul li {
    list-style: none;
    display: inline-block;
    width: auto;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    background-color: #fff;
    padding: 0 10px;
    cursor: pointer;
}

.pageturn ul li:hover {
    border: 1px solid #f34d41;
}

.pageturn ul .pagechoose {
    background-color: #f34d41;
    border: 1px solid #f34d41;
    color: #fff;
}

footer {
    width: 1263px;
    height: 180px;
    background-color: rgb(51, 49, 49);
    margin-top: 80px;
}

footer p {
    padding-top: 50px;
    font-size: 14px;
    display: block;
    width: 1000px;
    margin: 0 auto;
    color: #999;
}

footer p span {
    display: block;
    text-align: center;
    margin: 2px;
}

footer p span a {
    text-decoration: none;
    color: #f34d41;
}

footer p span a:hover {
    border-bottom: 1px solid #f34d41;
}

@media (min-width: 1263px) {
    header {
        width: 100%;
    }
    footer {
        width: 100%;
    }
}